{% extends "base.html" %}

{% block title %}Disciples list{% endblock %}

{% block content %}
  <h1>Disciples list</h1>
  {% if user.is_authenticated %}
    <p>
      <a href="{% url 'religious_atlas:disciple_add' %}">Add new disciple</a>
    </p>
  {% endif %}

  {% include "includes/search_form.html" %}

  {% if disciples %}
    <table>
      <thead>
      <tr>
        <th>First_name</th>
        <th>Last_name</th>
        <th>Email</th>
        <th>Church</th>
        <th>Pastor</th>
        <th>Date joined</th>
        {% if user.is_authenticated %}
          <th>Edit/Delete</th>{% endif %}
      </tr>
      </thead>
      <tbody>
      {% for disciple in disciples %}
        <tr>
          <td>{{ disciple.first_name }}</td>
          <td>{{ disciple.last_name }}</td>
          <td>{{ disciple.email|default:"-" }}</td>
          <td>
            {% if disciple.church %}
              <a href="{% url "religious_atlas:church_detail" pk=disciple.church.pk %}">{{ disciple.church.name }}</a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if disciple.mentor_pastor %}
              <a href="{% url "religious_atlas:pastor_detail" pk=disciple.mentor_pastor.pk %}">{{ disciple.mentor_pastor.get_full_name|default:disciple.mentor_pastor.username }}</a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>{{ disciple.joining_date|date:"d.m.Y"|default:"-" }}</td>
          {% if user.is_authenticated %}
            <td>
              <a href="{% url 'religious_atlas:disciple_edit' pk=disciple.pk %}">Edit</a>
              |
              <a href="{% url 'religious_atlas:disciple_delete' pk=disciple.pk %}"
                 style="color: red;">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No disciples found.{% if search_query %} No matches for your search
      query."
      {{ search_query }}".{% endif %}</p>
  {% endif %}

  {% include "includes/pagination.html" %}

{% endblock %}
