<nav>
  <a href="#">Religious Atlas</a>
  <ul>
    <li><a href="{% url 'religious_atlas:religion_list' %}">Religious
      ({{ religion_count }})</a></li>
    <li><a href="{% url 'religious_atlas:church_list' %}">Churches
      ({{ church_count }})</a></li>
    <li><a href="{% url 'religious_atlas:pastor_list' %}">Pastors
      ({{ pastor_count }})</a></li>
    <li><a href="{% url 'religious_atlas:disciple_list' %}">Disciples
      ({{ disciple_count }})</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>
<hr>
